/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 10px;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* My styling goes here */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
}

main {
  height: fit-content;
  max-width: fit-content;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(216, 50%, 16%);
}

main span img {
  max-width: 24rem;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

main h2 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

main p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: hsl(215, 51%, 70%);
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  margin-bottom: 1rem;
}

.details img {
  display: inline-block;
  margin-right: 0.5rem;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 50%;
}

.avatar p {
  margin: auto 0;
}

.avatar p span {
  font-weight: 400;
}

/* Typography */

.eth {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

main h2 {
  font-size: 1.5rem;
}
