*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: hsl(24, 5%, 18%);
}

color {
  color: hsl(0, 0%, 100%);
  color: hsl(330, 100%, 98%);
  color: hsl(30, 54%, 90%);
  color: hsl(30, 18%, 87%);
  color: hsl(30, 10%, 34%);
  color: hsl(24, 5%, 18%);
  color: hsl(14, 45%, 36%);
  color: hsl(332, 51%, 32%);
}

body {
  font-family: "Young Serif", "Outfit", "Sans-serif";
  background-color: hsl(30, 54%, 90%);
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

main {
  max-height: fit-content;
  max-width: 700px;
  padding: 40px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

main header img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

main header h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem 0;
  font-weight: 300;
}

main header p {
  font-size: 1.5rem;
}

main header div {
  background-color: hsl(330, 100%, 98%);
  padding: 2rem;
  margin: 2rem 0;
}

main header div h2 {
  color: hsl(332, 51%, 32%);
  font-size: 1.6rem;
  margin: 1rem 0;
  border-radius: 10px;
}

.preparation-time-text {
  width: 90%;
  margin: auto;
}

main header div span,
main header div li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main header div span {
  font-weight: bolder;
}

section h2 {
  font-size: 2.6rem;
  color: hsl(14, 45%, 36%);
  margin: 2rem 0;
}

.ingredients-list {
  list-style-position: outside;
  width: 80%;
  padding: 0;
  margin: 2rem 2rem;
}

section li span {
  font-weight: bold;
  font-size: 1.5rem;
}

section div li {
  margin-bottom: 1.6rem;
}

.nutrients-section h2 {
  font-size: 2.6rem;
}

.nutrients-section p,
.nutrients-section div,
.nutrients-section div span {
  font-size: 1.5rem;
}

.nutrients-section div span,
.nutrients-section div {
  padding: 0 3rem;
}

.nutrients-section p {
  margin-bottom: 1rem;
}

.table div {
  padding: 1rem 0;
  font-family: "Outfit";
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-bottom: 1px solid hsl(30, 54%, 90%);
}

/* Custom */

/* List Spacing bw list-style and the actual words */
.ingredients-list li,
main header div li,
section li {
  padding: 0 2rem;
  font-size: 1.5rem;
}

.description,
.preparation-time,
.ingredients-list,
.nutrients-section p {
  font-family: "Outfit";
}

hr {
  border: 1px solid rgb(230, 201, 201);
}
