/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 10px;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* My styling goes here */

body {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  color: hsl(292, 42%, 14%);
  background-image: linear-gradient(
      to bottom,
      transparent 30vh,
      hsl(275, 100%, 97%) 30vh
    ),
    url(assets/images/background-pattern-desktop.svg);
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

main {
  border-radius: 1rem;
  background-color: white;
  padding: 3rem;
  max-width: 35rem;
  height: fit-content;
}

.faq {
  display: flex;
}

.faq img {
  margin-right: 1.1rem;
}

.faq h1 {
  font-size: 3rem;
}

.questions div {
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.question {
  display: flex;
  justify-content: space-between;
}

.questions div h2 {
  margin-top: 1rem;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  display: inline-block;
}

.questions div p {
  color: hsl(292, 16%, 49%);
}

.questions div h2:hover {
  color: hsl(293, 75%, 63%);
}

hr {
  border: 1px solid rgba(140, 105, 145, 0.3);
  line-height: 1px;
}
